openapi: 3.0.0
info:
  title: Dynamics 365 Business Central
  description: Business Central Standard APIs
  version: 1.0.0
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/sandbox/api/v1.0
  description: Sandbox
- url: https://api.businesscentral.dynamics.com/v2.0/production/api/v1.0
  description: Production
security:
- oAuth:
  - Financials.ReadWrite.All
tags:
- name: company
  description: Represents an object of type company in Dynamics 365 Business Central
- name: item
  description: Represents an object of type item in Dynamics 365 Business Central
- name: picture
  description: Represents an object of type picture in Dynamics 365 Business Central
- name: defaultDimensions
  description: Represents an object of type defaultDimensions in Dynamics 365 Business
    Central
- name: customer
  description: Represents an object of type customer in Dynamics 365 Business Central
- name: customerFinancialDetail
  description: Represents an object of type customerFinancialDetail in Dynamics 365
    Business Central
- name: vendor
  description: Represents an object of type vendor in Dynamics 365 Business Central
- name: companyInformation
  description: Represents an object of type companyInformation in Dynamics 365 Business
    Central
- name: salesInvoice
  description: Represents an object of type salesInvoice in Dynamics 365 Business
    Central
- name: salesInvoiceLine
  description: Represents an object of type salesInvoiceLine in Dynamics 365 Business
    Central
- name: pdfDocument
  description: Represents an object of type pdfDocument in Dynamics 365 Business Central
- name: customerPaymentJournal
  description: Represents an object of type customerPaymentJournal in Dynamics 365
    Business Central
- name: customerPayment
  description: Represents an object of type customerPayment in Dynamics 365 Business
    Central
- name: account
  description: Represents an object of type account in Dynamics 365 Business Central
- name: taxGroup
  description: Represents an object of type taxGroup in Dynamics 365 Business Central
- name: journal
  description: Represents an object of type journal in Dynamics 365 Business Central
- name: journalLine
  description: Represents an object of type journalLine in Dynamics 365 Business Central
- name: attachments
  description: Represents an object of type attachments in Dynamics 365 Business Central
- name: employee
  description: Represents an object of type employee in Dynamics 365 Business Central
- name: timeRegistrationEntry
  description: Represents an object of type timeRegistrationEntry in Dynamics 365
    Business Central
- name: generalLedgerEntry
  description: Represents an object of type generalLedgerEntry in Dynamics 365 Business
    Central
- name: currency
  description: Represents an object of type currency in Dynamics 365 Business Central
- name: paymentMethod
  description: Represents an object of type paymentMethod in Dynamics 365 Business
    Central
- name: dimension
  description: Represents an object of type dimension in Dynamics 365 Business Central
- name: dimensionValue
  description: Represents an object of type dimensionValue in Dynamics 365 Business
    Central
- name: dimensionLine
  description: Represents an object of type dimensionLine in Dynamics 365 Business
    Central
- name: paymentTerm
  description: Represents an object of type paymentTerm in Dynamics 365 Business Central
- name: shipmentMethod
  description: Represents an object of type shipmentMethod in Dynamics 365 Business
    Central
- name: itemCategory
  description: Represents an object of type itemCategory in Dynamics 365 Business
    Central
- name: cashFlowStatement
  description: Represents an object of type cashFlowStatement in Dynamics 365 Business
    Central
- name: countryRegion
  description: Represents an object of type countryRegion in Dynamics 365 Business
    Central
- name: salesOrder
  description: Represents an object of type salesOrder in Dynamics 365 Business Central
- name: salesOrderLine
  description: Represents an object of type salesOrderLine in Dynamics 365 Business
    Central
- name: retainedEarningsStatement
  description: Represents an object of type retainedEarningsStatement in Dynamics
    365 Business Central
- name: unitOfMeasure
  description: Represents an object of type unitOfMeasure in Dynamics 365 Business
    Central
- name: agedAccountsReceivable
  description: Represents an object of type agedAccountsReceivable in Dynamics 365
    Business Central
- name: agedAccountsPayable
  description: Represents an object of type agedAccountsPayable in Dynamics 365 Business
    Central
- name: balanceSheet
  description: Represents an object of type balanceSheet in Dynamics 365 Business
    Central
- name: trialBalance
  description: Represents an object of type trialBalance in Dynamics 365 Business
    Central
- name: incomeStatement
  description: Represents an object of type incomeStatement in Dynamics 365 Business
    Central
- name: taxArea
  description: Represents an object of type taxArea in Dynamics 365 Business Central
- name: salesQuote
  description: Represents an object of type salesQuote in Dynamics 365 Business Central
- name: salesQuoteLine
  description: Represents an object of type salesQuoteLine in Dynamics 365 Business
    Central
- name: salesCreditMemo
  description: Represents an object of type salesCreditMemo in Dynamics 365 Business
    Central
- name: salesCreditMemoLine
  description: Represents an object of type salesCreditMemoLine in Dynamics 365 Business
    Central
- name: generalLedgerEntryAttachments
  description: Represents an object of type generalLedgerEntryAttachments in Dynamics
    365 Business Central
- name: purchaseInvoice
  description: Represents an object of type purchaseInvoice in Dynamics 365 Business
    Central
- name: purchaseInvoiceLine
  description: Represents an object of type purchaseInvoiceLine in Dynamics 365 Business
    Central
- name: project
  description: Represents an object of type project in Dynamics 365 Business Central
- name: bankAccount
  description: Represents an object of type bankAccount in Dynamics 365 Business Central
- name: customerSale
  description: Represents an object of type customerSale in Dynamics 365 Business
    Central
- name: vendorPurchase
  description: Represents an object of type vendorPurchase in Dynamics 365 Business
    Central
paths:
  /companies:
    get:
      tags:
      - company
      summary: Returns a list of companies
      operationId: listCompanies
      parameters:
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: Succesfully returned a list of companies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /companies({company_id}):
    get:
      tags:
      - company
      summary: Retrieve the properties and relationships of an object of type company
        for Dynamics 365 Business Central.
      operationId: getCompany
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: Succesfully returned the requested company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
  /companies({company_id})/items:
    get:
      tags:
      - item
      summary: Returns a list of items
      operationId: listItems
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
    post:
      tags:
      - item
      summary: Creates an object of type item in Dynamics 365 Business Central
      operationId: postItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        "201":
          description: A new item has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
  /companies({company_id})/items({item_id}):
    get:
      tags:
      - item
      summary: Retrieve the properties and relationships of an object of type item
        for Dynamics 365 Business Central.
      operationId: getItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
    delete:
      tags:
      - item
      summary: Deletes an object of type item in Dynamics 365 Business Central
      operationId: deleteItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified item
    patch:
      tags:
      - item
      summary: Updates an object of type item in Dynamics 365 Business Central
      operationId: patchItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        "200":
          description: Succesfully updated the specifieditem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
  /companies({company_id})/items({item_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /companies({company_id})/items({item_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        "200":
          description: Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/items({item_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "201":
          description: A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForItem
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        description: id for item
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "200":
          description: Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPicture
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /companies({company_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPicture
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePicture
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPicture
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        "200":
          description: Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "201":
          description: A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "200":
          description: Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers
      operationId: listCustomers
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
    post:
      tags:
      - customer
      summary: Creates an object of type customer in Dynamics 365 Business Central
      operationId: postCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "201":
          description: A new customer has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id}):
    get:
      tags:
      - customer
      summary: Retrieve the properties and relationships of an object of type customer
        for Dynamics 365 Business Central.
      operationId: getCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
    delete:
      tags:
      - customer
      summary: Deletes an object of type customer in Dynamics 365 Business Central
      operationId: deleteCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified customer
    patch:
      tags:
      - customer
      summary: Updates an object of type customer in Dynamics 365 Business Central
      operationId: patchCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "200":
          description: Succesfully updated the specifiedcustomer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetailsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetailForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerFinancialDetail_id
        in: path
        description: id for customerFinancialDetail
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/customers({customer_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /companies({company_id})/customers({customer_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        "200":
          description: Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/customers({customer_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "201":
          description: A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  ? /companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})
  : get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "200":
          description: Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetails
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /companies({company_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetail
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerFinancialDetail_id
        in: path
        description: id for customerFinancialDetail
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/vendors:
    get:
      tags:
      - vendor
      summary: Returns a list of vendors
      operationId: listVendors
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of vendors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
    post:
      tags:
      - vendor
      summary: Creates an object of type vendor in Dynamics 365 Business Central
      operationId: postVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        "201":
          description: A new vendor has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
  /companies({company_id})/vendors({vendor_id}):
    get:
      tags:
      - vendor
      summary: Retrieve the properties and relationships of an object of type vendor
        for Dynamics 365 Business Central.
      operationId: getVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
    delete:
      tags:
      - vendor
      summary: Deletes an object of type vendor in Dynamics 365 Business Central
      operationId: deleteVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified vendor
    patch:
      tags:
      - vendor
      summary: Updates an object of type vendor in Dynamics 365 Business Central
      operationId: patchVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        "200":
          description: Succesfully updated the specifiedvendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
  /companies({company_id})/vendors({vendor_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /companies({company_id})/vendors({vendor_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: picture_id
        in: path
        description: id for picture
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        "200":
          description: Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/vendors({vendor_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "201":
          description: A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForVendor
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: vendor_id
        in: path
        description: id for vendor
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_parentId
        in: path
        description: parentId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: defaultDimensions_dimensionId
        in: path
        description: dimensionId for defaultDimensions
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        "200":
          description: Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/companyInformation:
    get:
      tags:
      - companyInformation
      summary: Returns a list of companyInformation
      operationId: listCompanyInformation
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of companyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /companies({company_id})/companyInformation({companyInformation_id}):
    get:
      tags:
      - companyInformation
      summary: Retrieve the properties and relationships of an object of type companyInformation
        for Dynamics 365 Business Central.
      operationId: getCompanyInformation
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: companyInformation_id
        in: path
        description: id for companyInformation
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
[...]
