openapi: 3.0.0
info:
  title: Dynamics 365 Business Central
  description: Business Central Standard APIs
  version: 1.0.0
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/sandbox/api/v1.0
  description: Sandbox
- url: https://api.businesscentral.dynamics.com/v2.0/production/api/v1.0
  description: Production
security:
- oAuth:
  - Financials.ReadWrite.All
tags:
- name: company
  description: Represents an object of type company in Dynamics 365 Business Central
- name: item
  description: Represents an object of type item in Dynamics 365 Business Central
- name: picture
  description: Represents an object of type picture in Dynamics 365 Business Central
- name: defaultDimensions
  description: Represents an object of type defaultDimensions in Dynamics 365 Business
    Central
- name: customer
  description: Represents an object of type customer in Dynamics 365 Business Central
- name: customerFinancialDetail
  description: Represents an object of type customerFinancialDetail in Dynamics 365
    Business Central
- name: vendor
  description: Represents an object of type vendor in Dynamics 365 Business Central
- name: companyInformation
  description: Represents an object of type companyInformation in Dynamics 365 Business
    Central
- name: salesInvoice
  description: Represents an object of type salesInvoice in Dynamics 365 Business
    Central
- name: salesInvoiceLine
  description: Represents an object of type salesInvoiceLine in Dynamics 365 Business
    Central
- name: pdfDocument
  description: Represents an object of type pdfDocument in Dynamics 365 Business Central
- name: customerPaymentJournal
  description: Represents an object of type customerPaymentJournal in Dynamics 365
    Business Central
- name: customerPayment
  description: Represents an object of type customerPayment in Dynamics 365 Business
    Central
- name: account
  description: Represents an object of type account in Dynamics 365 Business Central
- name: taxGroup
  description: Represents an object of type taxGroup in Dynamics 365 Business Central
- name: journal
  description: Represents an object of type journal in Dynamics 365 Business Central
- name: journalLine
  description: Represents an object of type journalLine in Dynamics 365 Business Central
- name: attachments
  description: Represents an object of type attachments in Dynamics 365 Business Central
- name: employee
  description: Represents an object of type employee in Dynamics 365 Business Central
- name: timeRegistrationEntry
  description: Represents an object of type timeRegistrationEntry in Dynamics 365
    Business Central
- name: generalLedgerEntry
  description: Represents an object of type generalLedgerEntry in Dynamics 365 Business
    Central
- name: currency
  description: Represents an object of type currency in Dynamics 365 Business Central
- name: paymentMethod
  description: Represents an object of type paymentMethod in Dynamics 365 Business
    Central
- name: dimension
  description: Represents an object of type dimension in Dynamics 365 Business Central
- name: dimensionValue
  description: Represents an object of type dimensionValue in Dynamics 365 Business
    Central
- name: dimensionLine
  description: Represents an object of type dimensionLine in Dynamics 365 Business
    Central
- name: paymentTerm
  description: Represents an object of type paymentTerm in Dynamics 365 Business Central
- name: shipmentMethod
  description: Represents an object of type shipmentMethod in Dynamics 365 Business
    Central
- name: itemCategory
  description: Represents an object of type itemCategory in Dynamics 365 Business
    Central
- name: cashFlowStatement
  description: Represents an object of type cashFlowStatement in Dynamics 365 Business
    Central
- name: countryRegion
  description: Represents an object of type countryRegion in Dynamics 365 Business
    Central
- name: salesOrder
  description: Represents an object of type salesOrder in Dynamics 365 Business Central
- name: salesOrderLine
  description: Represents an object of type salesOrderLine in Dynamics 365 Business
    Central
- name: retainedEarningsStatement
  description: Represents an object of type retainedEarningsStatement in Dynamics
    365 Business Central
- name: unitOfMeasure
  description: Represents an object of type unitOfMeasure in Dynamics 365 Business
    Central
- name: agedAccountsReceivable
  description: Represents an object of type agedAccountsReceivable in Dynamics 365
    Business Central
- name: agedAccountsPayable
  description: Represents an object of type agedAccountsPayable in Dynamics 365 Business
    Central
- name: balanceSheet
  description: Represents an object of type balanceSheet in Dynamics 365 Business
    Central
- name: trialBalance
  description: Represents an object of type trialBalance in Dynamics 365 Business
    Central
- name: incomeStatement
  description: Represents an object of type incomeStatement in Dynamics 365 Business
    Central
- name: taxArea
  description: Represents an object of type taxArea in Dynamics 365 Business Central
- name: salesQuote
  description: Represents an object of type salesQuote in Dynamics 365 Business Central
- name: salesQuoteLine
  description: Represents an object of type salesQuoteLine in Dynamics 365 Business
    Central
- name: salesCreditMemo
  description: Represents an object of type salesCreditMemo in Dynamics 365 Business
    Central
- name: salesCreditMemoLine
  description: Represents an object of type salesCreditMemoLine in Dynamics 365 Business
    Central
- name: generalLedgerEntryAttachments
  description: Represents an object of type generalLedgerEntryAttachments in Dynamics
    365 Business Central
- name: purchaseInvoice
  description: Represents an object of type purchaseInvoice in Dynamics 365 Business
    Central
- name: purchaseInvoiceLine
  description: Represents an object of type purchaseInvoiceLine in Dynamics 365 Business
    Central
- name: project
  description: Represents an object of type project in Dynamics 365 Business Central
- name: bankAccount
  description: Represents an object of type bankAccount in Dynamics 365 Business Central
- name: customerSale
  description: Represents an object of type customerSale in Dynamics 365 Business
    Central
- name: vendorPurchase
  description: Represents an object of type vendorPurchase in Dynamics 365 Business
    Central
paths:
  /companies:
    get:
      tags:
      - company
      summary: Returns a list of companies
      operationId: listCompanies
      parameters:
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: Succesfully returned a list of companies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /companies({company_id}):
    get:
      tags:
      - company
      summary: Retrieve the properties and relationships of an object of type company
        for Dynamics 365 Business Central.
      operationId: getCompany
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: Succesfully returned the requested company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
  /companies({company_id})/accounts:
    get:
      tags:
      - account
      summary: Returns a list of accounts
      operationId: listAccounts
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - category
            - subCategory
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
  /companies({company_id})/accounts({account_id}):
    get:
      tags:
      - account
      summary: Retrieve the properties and relationships of an object of type account
        for Dynamics 365 Business Central.
      operationId: getAccount
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: account_id
        in: path
        description: id for account
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - category
            - subCategory
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
  /companies({company_id})/agedAccountsPayable:
    get:
      tags:
      - agedAccountsPayable
      summary: Returns a list of agedAccountsPayable
      operationId: listAgedAccountsPayable
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - vendorId
            - vendorNumber
            - name
            - currencyCode
            - balanceDue
            - currentAmount
            - period1Amount
            - period2Amount
            - period3Amount
            - agedAsOfDate
            - periodLengthFilter
      responses:
        "200":
          description: Succesfully returned a list of agedAccountsPayable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /companies({company_id})/agedAccountsPayable({agedAccountsPayable_vendorId}):
    get:
      tags:
      - agedAccountsPayable
      summary: Retrieve the properties and relationships of an object of type agedAccountsPayable
        for Dynamics 365 Business Central.
      operationId: getAgedAccountsPayable
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: agedAccountsPayable_vendorId
        in: path
        description: vendorId for agedAccountsPayable
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - vendorId
            - vendorNumber
            - name
            - currencyCode
            - balanceDue
            - currentAmount
            - period1Amount
            - period2Amount
            - period3Amount
            - agedAsOfDate
            - periodLengthFilter
      responses:
        "200":
          description: Succesfully returned the requested agedAccountsPayable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agedAccountsPayable'
  /companies({company_id})/agedAccountsReceivable:
    get:
      tags:
      - agedAccountsReceivable
      summary: Returns a list of agedAccountsReceivable
      operationId: listAgedAccountsReceivable
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerId
            - customerNumber
            - name
            - currencyCode
            - balanceDue
            - currentAmount
            - period1Amount
            - period2Amount
            - period3Amount
            - agedAsOfDate
            - periodLengthFilter
      responses:
        "200":
          description: Succesfully returned a list of agedAccountsReceivable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /companies({company_id})/agedAccountsReceivable({agedAccountsReceivable_customerId}):
    get:
      tags:
      - agedAccountsReceivable
      summary: Retrieve the properties and relationships of an object of type agedAccountsReceivable
        for Dynamics 365 Business Central.
      operationId: getAgedAccountsReceivable
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: agedAccountsReceivable_customerId
        in: path
        description: customerId for agedAccountsReceivable
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerId
            - customerNumber
            - name
            - currencyCode
            - balanceDue
            - currentAmount
            - period1Amount
            - period2Amount
            - period3Amount
            - agedAsOfDate
            - periodLengthFilter
      responses:
        "200":
          description: Succesfully returned the requested agedAccountsReceivable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agedAccountsReceivable'
  /companies({company_id})/attachments:
    get:
      tags:
      - attachments
      summary: Returns a list of attachments
      operationId: listAttachments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - id
            - fileName
            - byteSize
            - content
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
    post:
      tags:
      - attachments
      summary: Creates an object of type attachments in Dynamics 365 Business Central
      operationId: postAttachments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/attachments'
      responses:
        "201":
          description: A new attachments has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachments'
  /companies({company_id})/attachments({attachments_parentId},{attachments_id}):
    get:
      tags:
      - attachments
      summary: Retrieve the properties and relationships of an object of type attachments
        for Dynamics 365 Business Central.
      operationId: getAttachments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_parentId
        in: path
        description: parentId for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_id
        in: path
        description: id for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - id
            - fileName
            - byteSize
            - content
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachments'
    delete:
      tags:
      - attachments
      summary: Deletes an object of type attachments in Dynamics 365 Business Central
      operationId: deleteAttachments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_parentId
        in: path
        description: parentId for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_id
        in: path
        description: id for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified attachments
    patch:
      tags:
      - attachments
      summary: Updates an object of type attachments in Dynamics 365 Business Central
      operationId: patchAttachments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_parentId
        in: path
        description: parentId for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: attachments_id
        in: path
        description: id for attachments
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/attachments'
      responses:
        "200":
          description: Succesfully updated the specifiedattachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachments'
  /companies({company_id})/balanceSheet:
    get:
      tags:
      - balanceSheet
      summary: Returns a list of balanceSheet
      operationId: listBalanceSheet
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - lineNumber
            - display
            - balance
            - lineType
            - indentation
            - dateFilter
      responses:
        "200":
          description: Succesfully returned a list of balanceSheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /companies({company_id})/balanceSheet({balanceSheet_lineNumber}):
    get:
      tags:
      - balanceSheet
      summary: Retrieve the properties and relationships of an object of type balanceSheet
        for Dynamics 365 Business Central.
      operationId: getBalanceSheet
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: balanceSheet_lineNumber
        in: path
        description: lineNumber for balanceSheet
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - lineNumber
            - display
            - balance
            - lineType
            - indentation
            - dateFilter
      responses:
        "200":
          description: Succesfully returned the requested balanceSheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/balanceSheet'
  /companies({company_id})/bankAccounts:
    get:
      tags:
      - bankAccount
      summary: Returns a list of bankAccounts
      operationId: listBankAccounts
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
      responses:
        "200":
          description: Succesfully returned a list of bankAccounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
    post:
      tags:
      - bankAccount
      summary: Creates an object of type bankAccount in Dynamics 365 Business Central
      operationId: postBankAccount
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/bankAccount'
      responses:
        "201":
          description: A new bankAccount has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bankAccount'
  /companies({company_id})/bankAccounts({bankAccount_id}):
    get:
      tags:
      - bankAccount
      summary: Retrieve the properties and relationships of an object of type bankAccount
        for Dynamics 365 Business Central.
      operationId: getBankAccount
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: bankAccount_id
        in: path
        description: id for bankAccount
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
      responses:
        "200":
          description: Succesfully returned the requested bankAccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bankAccount'
    delete:
      tags:
      - bankAccount
      summary: Deletes an object of type bankAccount in Dynamics 365 Business Central
      operationId: deleteBankAccount
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: bankAccount_id
        in: path
        description: id for bankAccount
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified bankAccount
    patch:
      tags:
      - bankAccount
      summary: Updates an object of type bankAccount in Dynamics 365 Business Central
      operationId: patchBankAccount
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: bankAccount_id
        in: path
        description: id for bankAccount
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/bankAccount'
      responses:
        "200":
          description: Succesfully updated the specifiedbankAccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bankAccount'
  /companies({company_id})/cashFlowStatement:
    get:
      tags:
      - cashFlowStatement
      summary: Returns a list of cashFlowStatement
      operationId: listCashFlowStatement
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - lineNumber
            - display
            - netChange
            - lineType
            - indentation
            - dateFilter
      responses:
        "200":
          description: Succesfully returned a list of cashFlowStatement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /companies({company_id})/cashFlowStatement({cashFlowStatement_lineNumber}):
    get:
      tags:
      - cashFlowStatement
      summary: Retrieve the properties and relationships of an object of type cashFlowStatement
        for Dynamics 365 Business Central.
      operationId: getCashFlowStatement
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: cashFlowStatement_lineNumber
        in: path
        description: lineNumber for cashFlowStatement
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - lineNumber
            - display
            - netChange
            - lineType
            - indentation
            - dateFilter
      responses:
        "200":
          description: Succesfully returned the requested cashFlowStatement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cashFlowStatement'
  /companies({company_id})/companyInformation:
    get:
      tags:
      - companyInformation
      summary: Returns a list of companyInformation
      operationId: listCompanyInformation
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of companyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /companies({company_id})/companyInformation({companyInformation_id}):
    get:
      tags:
      - companyInformation
      summary: Retrieve the properties and relationships of an object of type companyInformation
        for Dynamics 365 Business Central.
      operationId: getCompanyInformation
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: companyInformation_id
        in: path
        description: id for companyInformation
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested companyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyInformation'
    patch:
      tags:
      - companyInformation
      summary: Updates an object of type companyInformation in Dynamics 365 Business
        Central
      operationId: patchCompanyInformation
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: companyInformation_id
        in: path
        description: id for companyInformation
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/companyInformation'
      responses:
        "200":
          description: Succesfully updated the specifiedcompanyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyInformation'
  /companies({company_id})/countriesRegions:
    get:
      tags:
      - countryRegion
      summary: Returns a list of countriesRegions
      operationId: listCountriesRegions
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - addressFormat
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of countriesRegions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
    post:
      tags:
      - countryRegion
      summary: Creates an object of type countryRegion in Dynamics 365 Business Central
      operationId: postCountryRegion
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/countryRegion'
      responses:
        "201":
          description: A new countryRegion has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countryRegion'
  /companies({company_id})/countriesRegions({countryRegion_id}):
    get:
      tags:
      - countryRegion
      summary: Retrieve the properties and relationships of an object of type countryRegion
        for Dynamics 365 Business Central.
      operationId: getCountryRegion
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: countryRegion_id
        in: path
        description: id for countryRegion
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - addressFormat
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested countryRegion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countryRegion'
    delete:
      tags:
      - countryRegion
      summary: Deletes an object of type countryRegion in Dynamics 365 Business Central
      operationId: deleteCountryRegion
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: countryRegion_id
        in: path
        description: id for countryRegion
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified countryRegion
    patch:
      tags:
      - countryRegion
      summary: Updates an object of type countryRegion in Dynamics 365 Business Central
      operationId: patchCountryRegion
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: countryRegion_id
        in: path
        description: id for countryRegion
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/countryRegion'
      responses:
        "200":
          description: Succesfully updated the specifiedcountryRegion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countryRegion'
  /companies({company_id})/currencies:
    get:
      tags:
      - currency
      summary: Returns a list of currencies
      operationId: listCurrencies
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - symbol
            - amountDecimalPlaces
            - amountRoundingPrecision
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of currencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
    post:
      tags:
      - currency
      summary: Creates an object of type currency in Dynamics 365 Business Central
      operationId: postCurrency
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/currency'
      responses:
        "201":
          description: A new currency has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency'
  /companies({company_id})/currencies({currency_id}):
    get:
      tags:
      - currency
      summary: Retrieve the properties and relationships of an object of type currency
        for Dynamics 365 Business Central.
      operationId: getCurrency
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: currency_id
        in: path
        description: id for currency
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - symbol
            - amountDecimalPlaces
            - amountRoundingPrecision
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency'
    delete:
      tags:
      - currency
      summary: Deletes an object of type currency in Dynamics 365 Business Central
      operationId: deleteCurrency
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: currency_id
        in: path
        description: id for currency
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified currency
    patch:
      tags:
      - currency
      summary: Updates an object of type currency in Dynamics 365 Business Central
      operationId: patchCurrency
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: currency_id
        in: path
        description: id for currency
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/currency'
      responses:
        "200":
          description: Succesfully updated the specifiedcurrency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency'
  /companies({company_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetails
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
  /companies({company_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetail
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerFinancialDetail_id
        in: path
        description: id for customerFinancialDetail
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/customerPaymentJournals:
    get:
      tags:
      - customerPaymentJournal
      summary: Returns a list of customerPaymentJournals
      operationId: listCustomerPaymentJournals
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPayments
            - account
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - lastModifiedDateTime
            - balancingAccountId
            - balancingAccountNumber
      responses:
        "200":
          description: Succesfully returned a list of customerPaymentJournals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
    post:
      tags:
      - customerPaymentJournal
      summary: Creates an object of type customerPaymentJournal in Dynamics 365 Business
        Central
      operationId: postCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPaymentJournal'
      responses:
        "201":
          description: A new customerPaymentJournal has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPaymentJournal'
  /companies({company_id})/customerPaymentJournals({customerPaymentJournal_id}):
    get:
      tags:
      - customerPaymentJournal
      summary: Retrieve the properties and relationships of an object of type customerPaymentJournal
        for Dynamics 365 Business Central.
      operationId: getCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPayments
            - account
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - lastModifiedDateTime
            - balancingAccountId
            - balancingAccountNumber
      responses:
        "200":
          description: Succesfully returned the requested customerPaymentJournal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPaymentJournal'
    delete:
      tags:
      - customerPaymentJournal
      summary: Deletes an object of type customerPaymentJournal in Dynamics 365 Business
        Central
      operationId: deleteCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified customerPaymentJournal
    patch:
      tags:
      - customerPaymentJournal
      summary: Updates an object of type customerPaymentJournal in Dynamics 365 Business
        Central
      operationId: patchCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPaymentJournal'
      responses:
        "200":
          description: Succesfully updated the specifiedcustomerPaymentJournal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPaymentJournal'
  /companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments:
    get:
      tags:
      - customerPayment
      summary: Returns a list of customerPayments
      operationId: listCustomerPaymentsForCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customer
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - journalDisplayName
            - lineNumber
            - customerId
            - customerNumber
            - contactId
            - postingDate
            - documentNumber
            - externalDocumentNumber
            - amount
            - appliesToInvoiceId
            - appliesToInvoiceNumber
            - description
            - comment
            - dimensions
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of customerPayments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
    post:
      tags:
      - customerPayment
      summary: Creates an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: postCustomerPaymentForCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPayment'
      responses:
        "201":
          description: A new customerPayment has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
  /companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments({customerPayment_id}):
    get:
      tags:
      - customerPayment
      summary: Retrieve the properties and relationships of an object of type customerPayment
        for Dynamics 365 Business Central.
      operationId: getCustomerPaymentForCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customer
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - journalDisplayName
            - lineNumber
            - customerId
            - customerNumber
            - contactId
            - postingDate
            - documentNumber
            - externalDocumentNumber
            - amount
            - appliesToInvoiceId
            - appliesToInvoiceNumber
            - description
            - comment
            - dimensions
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested customerPayment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
    delete:
      tags:
      - customerPayment
      summary: Deletes an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: deleteCustomerPaymentForCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified customerPayment
    patch:
      tags:
      - customerPayment
      summary: Updates an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: patchCustomerPaymentForCustomerPaymentJournal
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPaymentJournal_id
        in: path
        description: id for customerPaymentJournal
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPayment'
      responses:
        "200":
          description: Succesfully updated the specifiedcustomerPayment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
  /companies({company_id})/customerPayments:
    get:
      tags:
      - customerPayment
      summary: Returns a list of customerPayments
      operationId: listCustomerPayments
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customer
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - journalDisplayName
            - lineNumber
            - customerId
            - customerNumber
            - contactId
            - postingDate
            - documentNumber
            - externalDocumentNumber
            - amount
            - appliesToInvoiceId
            - appliesToInvoiceNumber
            - description
            - comment
            - dimensions
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of customerPayments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
    post:
      tags:
      - customerPayment
      summary: Creates an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: postCustomerPayment
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPayment'
      responses:
        "201":
          description: A new customerPayment has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
  /companies({company_id})/customerPayments({customerPayment_id}):
    get:
      tags:
      - customerPayment
      summary: Retrieve the properties and relationships of an object of type customerPayment
        for Dynamics 365 Business Central.
      operationId: getCustomerPayment
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customer
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - journalDisplayName
            - lineNumber
            - customerId
            - customerNumber
            - contactId
            - postingDate
            - documentNumber
            - externalDocumentNumber
            - amount
            - appliesToInvoiceId
            - appliesToInvoiceNumber
            - description
            - comment
            - dimensions
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested customerPayment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
    delete:
      tags:
      - customerPayment
      summary: Deletes an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: deleteCustomerPayment
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified customerPayment
    patch:
      tags:
      - customerPayment
      summary: Updates an object of type customerPayment in Dynamics 365 Business
        Central
      operationId: patchCustomerPayment
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerPayment_id
        in: path
        description: id for customerPayment
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customerPayment'
      responses:
        "200":
          description: Succesfully updated the specifiedcustomerPayment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerPayment'
  /companies({company_id})/customerSales:
    get:
      tags:
      - customerSale
      summary: Returns a list of customerSales
      operationId: listCustomerSales
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerId
            - customerNumber
            - name
            - totalSalesAmount
            - dateFilter_FilterOnly
      responses:
        "200":
          description: Succesfully returned a list of customerSales
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
  /companies({company_id})/customerSales({customerSale_customerId},'{customerSale_customerNumber}','{customerSale_name}'):
    get:
      tags:
      - customerSale
      summary: Retrieve the properties and relationships of an object of type customerSale
        for Dynamics 365 Business Central.
      operationId: getCustomerSale
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerSale_customerId
        in: path
        description: customerId for customerSale
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerSale_customerNumber
        in: path
        description: customerNumber for customerSale
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerSale_name
        in: path
        description: name for customerSale
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerId
            - customerNumber
            - name
            - totalSalesAmount
            - dateFilter_FilterOnly
      responses:
        "200":
          description: Succesfully returned the requested customerSale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerSale'
  /companies({company_id})/customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers
      operationId: listCustomers
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned a list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
    post:
      tags:
      - customer
      summary: Creates an object of type customer in Dynamics 365 Business Central
      operationId: postCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "201":
          description: A new customer has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id}):
    get:
      tags:
      - customer
      summary: Retrieve the properties and relationships of an object of type customer
        for Dynamics 365 Business Central.
      operationId: getCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        description: Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: Succesfully returned the requested customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
    delete:
      tags:
      - customer
      summary: Deletes an object of type customer in Dynamics 365 Business Central
      operationId: deleteCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Succesfully deleted the specified customer
    patch:
      tags:
      - customer
      summary: Updates an object of type customer in Dynamics 365 Business Central
      operationId: patchCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Content-Type
        in: header
        description: application/json
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: Required. When this request header is included and the eTag provided
          does not match the current tag on the entity, this will not be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "200":
          description: Succesfully updated the specifiedcustomer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetailsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $filter
        in: query
        description: Filtering expression
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetailForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customerFinancialDetail_id
        in: path
        description: id for customerFinancialDetail
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $select
        in: query
        description: Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/customers({customer_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForCustomer
      parameters:
      - name: company_id
        in: path
        description: id for company
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: path
        description: id for customer
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: $top
        in: query
        description: Number of items to return from the top of the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $skip
        in: query
        description: Number of items to skip from the list
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: $limit
        in: query
        description: Number of items to return from the list
        required: false
        style: form
[...]
